<h2>{{movie.title}}</h2>

<dl class="dl-horizontal">
  <dt>Release year</dt>
  <dd>{{movie.releaseYear || "Unknown"}}</dd>
</dl>
<dl class="dl-horizontal">
  <dt>Description</dt>
  <dd><div ng-bind-html='movie.description'></div></dd>
</dl>
<dl class="dl-horizontal">
	<dd>
		<a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out this movie!" data-size="large" data-count="none">Tweet</a>
	</dd>
</dl>

<a href="/movies/{{movie.id}}/edit" title="Edit movie" class="btn">
    Edit
</a>

<button ng-click="delete()" title="Delete movie" class="btn btn-danger">
    Delete
</button>